body {
    background-color: rgb(241, 231, 241);
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 15px;
}

/* Portolio page */
.projects {
    min-width: 150px;
}

/* Contact page */
.contact {
    max-width: 300px;
}