body {
    background-color: rgb(241, 231, 241);
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 15px;
}

h1 {
   box-sizing: border-box;
   position: absolute;
   padding-top: 50px;
   padding-left: 50px;
}

/* Portolio page */
.projects {
    max-width: 500px;
}

/* Contact page */
.contact {
    max-width: 300px;
}
